<% include ./partials/header %>


<div >
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h2 style="font-size: 32px;" class="modal-title text-center">Reset Password</a></span></h2>
            </div>
            <div class="modal-body">
                <div class="contentNewPost">
                    <% if(errorEmail && errorEmail.length > 0){ %>
                        <div class="alert alert-danger" role="alert"><%= errorEmail %></div>
                    <% } %>
                    
                   	<form action="/reset/<%= token %>" method="POST">
            		  <div class="form-group">
            		    <input type="password" name="password" value="" placeholder="New password" autofocus="autofocus" class="form-control"/>
            		  </div>
            		  <div class="form-group">
            		    <input type="password" name="confirm" value="" placeholder="Confirm password" class="form-control"/>
            		  </div>
            		  
                </div>
            </div>
            
            <div class="modal-footer">
                    <div class="contentButtonsArea">
                        <div class="row loginButtons">
                            <button type="submit" class="btn btn-success btn-lg">Update Password</button> 
                        </div>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</div>